.homepage {
  text-align: center;
  header {
    background-color: $color-grey-light;
    color: $color-grey-darkest;
    h1 {
      margin-top: 60px;
    }
    p {
      margin-top: 40px;
    }
  }
  .main-content {
    color: $color-grey-dark;
    .btn-default {
      margin-top: 50px;
      font-size: 20px;
      background-color: $color-grey-dark;
      color: $color-white-medium;
      border-color: $color-grey-dark;
    }
    .btn-default:hover {
      background-color: $color-grey-light;
      color: $color-grey-darkest;
      border-color: $color-grey-light;
    }
  }
}
