.homepage {
  text-align: center;
  .container {
    background-image: assets-url('homepage-cover.jpg');
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    .header {
      width: 100vw;
    }
    .first-page {
      width: 100vw;
      color: $color-grey-dark;
      .btn-default {
        margin-top: 50px;
        font-size: 20px;
        background-color: $color-grey-dark;
        color: $color-white-medium;
        border-color: $color-grey-dark;
      }
      .btn-default:hover {
        background-color: $color-grey-light;
        color: $color-grey-darkest;
        border-color: $color-grey-light;
      }
    }
  }
  .second-page {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
}
