// App-wide variables
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

// General layout
html, body, .body {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/**
 * App-wide Styles
 */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'directives/footer/footer.scss';
@import 'routes/homepage/homepage.scss';
@import 'routes/seafood/seafood-choice/seafood-choice.scss';
@import 'routes/seafood/seafood-display/seafood-display.scss';
@import 'routes/seafood/seafood.scss';
@import 'styles/colors.scss';
@import '../components/modal/modal.scss';
// endinjector
