$color-grey-darkest: #333300;
$color-grey-dark: #333366;
$color-grey-medium: #666666;
$color-grey-light: #999966;
$color-white-medium: #CCCCCC;
$color-orance-light: #996699;
$color-red-darkest: #330033;
