.seafood-choice {
  margin-top: 10px;
  height: 540px;
  border: thin solid grey;
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    form {
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .form-group {
        margin: 0;
        width: 150px;
      }
      .fade {
        opacity: 0.5;
      }
    }
  }
  .display {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    i {
      align-self: flex-start;
      font-size: 20px;
      opacity: 0.5;
    }
    .title-group {
      height: 65px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      h3 {
        margin: 0;
      }
    }
  }
}
