.choose-seafood-page {
  .container {
    .form {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 10px;
      border-bottom: medium solid black;
      form {
        height: 60px;
        width: 420px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        align-content: space-around;
        .form-group {
          margin: 0;
        }
        .btn-default {
          margin-left: 25px;
        }
      }
    }
  }
}