<main aria-role="main" class="choose-seafood-page">
  <div class="container">
    <div class="form">
      <form name="vm.chooseSeafood" ng-submit="showSeafood()">
        <div class="form-group">
          <select name="species" class="form-control" data-ng-model="vm.selection.species" data-ng-options="species.id as species.name for species in vm.SpeciesService.species" ng-change="vm.SpeciesService.getSpecificSeafoods(vm.selection.species)" required>
            <option value="" disabled selected>Pick a species</option>
          </select>
        </div>
        <div class="form-group">
          <select name="seafood" class="form-control" data-ng-model="vm.selection.seafood" data-ng-options="seafood.id as seafood.name for seafood in vm.SpeciesService.specificSeafoods" data-ng-disabled="vm.selection.species == null" required>
            <option value="" disabled selected>Pick a seafood type</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default" data-ng-disabled="vm.chooseSeafood.$invalid">Proceed</button>
      </form>
    </div>
  </div>
</main>
